html, body{
  height: 100%;
  color: #ff0000;
  background-color: #000;
  padding-top: 40px;
}
h2 {
  
  text-transform: uppercase;
  color: #fff;
}

h1 {
  text-align: center;
}

div{
  margin-top: 2%;
  margin-bottom: 2%;
}

img {
  height: 200px;
  width: 300px;
  margin-left: 20%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #ff0000;
  text-decoration: none;

}

span {
  color: #fff;
}

header{
  position: fixed;
  top: 0;
  background-color: inherit;
  width: 100%;
  height: 12%;
  z-index: 10;
}

.nav-pills > li > a:hover{
  background-color: transparent;
  border-style: hidden;
  color: #fff;
}

.enlarge:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #fff;
}

.center{
  text-align: center;
  color: #fff;
}

#img1{
    height: 20%;
    width: 30%;
    float: left;  
}

#img2{
    height: 20%;
    width: 30%; 
    float: left;
}

#img3{
    height: 20%;
    width: 30%;
    float: left;
  
}

.extras{
  color: #8590a6;
  font-weight: bold;
}

.about{
  text-align: center;
  color: #000;
}

#footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
  background-color: #000;
  height: 8%;
  font-size:.8em;
  }


/* Large desktop */
@media (min-width: 1200px) {  
  footer {
    height: 6%;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
   footer {
    height: 10%;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  footer {
  height: 17%;
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
 footer {
  height: 4.5%;
  }

  div{
    margin-top: 20px;
  }
}

  