html, body{
  background-color: #000;
  color: #ffffff;
}

body { 
  padding-top: 70px; 
}

span{
  font-size: 42px;
  font-weight: bold;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

h3{
  margin-top: 20%;
}

h4{
  margin-top: auto;
  margin-bottom: auto;
}

header{
  display: block;
}

em{
  color: #ff0000;
  margin-top: 2%;
}

a{
  text-decoration: none;
  color: #fff;
  line-height: 2.4;
}

a:hover{
  color: #ff0000;
  text-decoration: none;
  border-radius:30%;
  background-color: #fff;
}

li{
  list-style-type: none;
}

nav{
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}

img{
  border: 12px solid #000000;
}

iframe{
  height:300px;
  width: 540px;
  border:0;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

div.pub{
  padding-bottom: 8%;
}

.pub:hover{
    background:#fff;
    color: #000;
}

.btn{
  margin-left: -11px;
}

.map{
  width: 50%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

.logo img{
  border: 0px;
  margin-top: -2.66em;
  position: fixed;
  left: 20%;
  margin-left: 302px;
  z-index: 30;
}

.navbar{
  background-color: #000;
  border-style: dashed; 
  min-height: 32px;
  border-color: #ff0000;
  border-width: 0px 0px 2px;
  z-index: 20;
}

.flex-control-nav{
  background-color: #fff;
  width: 100%;

}
.flexslider{
  margin: 0 0 20px;
  background-color: #000;
}

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
  padding: 6px;
}

.footer{
  margin-top: 10%;
}
