html, body{
  height: 100%;
  margin: 20px;
  border: 20px;
  color: red;
  background-color: #000;
}

img {
  height: 200px;
  width: 300px;
}

a {
  color: #ff0000;
}

#header{
  text-align: center;
}

.jumbotron {
  background: url(../images/bistro.jpg);
  background-size: cover;
  height: 80%;
}

.thumbnail{
    height: 20%;
    width: 30%;
    float: left;  
}

.thumbnail2{
    height: 20%;
    width: 30%; 
    float: left;
}

.thumbnail3{
    height: 20%;
    width: 30%;
    float: left;
  
}
#about{
  clear: both;
}

.extras{
  color: #000;
  font-weight: bold;
}

.about{
  text-align: center;
  color: #000;
}

ul {
  list-style-type: none;
  display: inline;
}

a {
  float: left;
  text-decoration: none;
}

nav {
  background-color: #ccc
}

h1 {
  text-align: center;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #000;
  color: red;
  bottom: 0;
  text-align: center;

}

@media screen and (max-width: 600px){ 
  footer {
    height: 5%;
  }

@media screen and (min-width: 768px){ 
  footer {
    height: 10%;
  }
}